html{
    background-color: rgb(235, 235, 235);
}

a{
  text-decoration: none;
  color: black;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding-right: 10px;
}

.logo{
    display: flex;
    justify-content: left;
    height: 60px;
    width: auto;
    padding: 8px;
}

.banners{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.top{
    display: flex;
    height: 75px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    justify-content: space-between;
}

.mid{
    height: 500px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
}

.bott{
    height: 30px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: yellow;
}